<!DOCTIPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        <body>
            {{>header}}
            <p class="errormessage">{{errorMessage}}</p>
            <footer>
                {{>footer}}
            </footer>
        </body>
</html>