<!DOCTIPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        <body>
            <header>
                {{>header}}
            </header>
            <img src="/img/linkedinme.png">
            <footer>
                {{>footer}}
            </footer>
        </body>
</html>