<!DOCTIPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        <body>
            <div class="main-content">
                <header>
                    {{>header}}
                </header>
                <p>{{helpMessage}}</p>
                <div>
                    <p>Check out the official documentation for both APIs used by this app:</p>
                    <ul>
                        <li><a href="https://docs.mapbox.com/">mapbox</a></li>
                        <li><a href="https://weatherstack.com/documentation">weatherstack</a></li>
                    </ul>
                </div>
            </div>
            <footer>
                {{>footer}}
            </footer>
        </body>
</html>